EXPO_PUBLIC_FIREBASE_API_KEY=BURAYA_KENDI_API_KEY_YAZ
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=BURAYA_KENDI_AUTH_DOMAIN_YAZ
EXPO_PUBLIC_FIREBASE_PROJECT_ID=BURAYA_KENDI_PROJECT_ID_YAZ
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=BURAYA_KENDI_STORAGE_BUCKET_YAZ
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=BURAYA_KENDI_SENDER_ID_YAZ
EXPO_PUBLIC_FIREBASE_APP_ID=BURAYA_KENDI_APP_ID_YAZ
